@inject IMessageService MessageService


@page "/"

<PageTitle>Home</PageTitle>

<h2>API Gateway management dashboard</h2>
<h3>Built with dotnet 8 and Aspire Framework</h3>  
@* <FluentButton OnClick="@AddInNotificationCenter" Appearance="Appearance.Accent">Add on Notification</FluentButton>
<FluentButton OnClick="@AddInTopBar" Appearance="Appearance.Accent">Add on top</FluentButton> *@

@code{
	int counter = 0;
	ActionLink<Message> link = new()
        {
            Text = "Learn more",
            Href = "https://bing.com",
            OnClick = (e) => { Console.WriteLine($"Message 'learn more' clicked"); return Task.CompletedTask; }
        };
	@* void AddInTopBar()
    {
        var message = $"Simple message #{counter++}";
        var type = Enum.GetValues<MessageIntent>()[counter % 4];
        MessageService.ShowMessageBarAsync(message, type, "TOP");
    }	
	void AddInNotificationCenter()
    {
        MessageService.ShowMessageBar(options =>
        {
            options.Intent = Enum.GetValues<MessageIntent>()[counter % 4];
            options.Title = $"Simple message #{counter++}";
            options.Body = "TEST MESSAGE";
            options.Link = link;
            options.Timestamp = DateTime.Now;
            options.Section = "NOTIFICATION_CENTER";
        });
    } *@
}
