@page "/"
@inject IBus Bus

<PageTitle>Home</PageTitle>

<FluentCard>
  <h2>Hello World!</h2>
  <FluentButton Appearance="@Appearance.Accent" OnClick="Click">Click Me</FluentButton>
</FluentCard>


@code {
  async Task Click()
  {
    Console.WriteLine("Clicked");
    try
    {      
      await Bus.Publish(new UpdateGateway());
      Console.WriteLine("UpdateGateway sent");
    }
    catch (Exception ex)
    {
      Console.WriteLine(ex.Message);
    }
  }
}