@inherits LayoutComponentBase

<Fluxor.Blazor.Web.StoreInitializer/>

<div style="height: 100%;">
    <FluentMainLayout NavMenuTitle="Navigation menu">
        <Header>
            <h3>ServiceDiscovery.Dotnet</h3>
			@* <FluentSpacer/>
			<NotificationCenter/> *@
        </Header>

        <Body>
			<FluentMessageBarProvider />
            <FluentCard Height="90vh">
                @Body
            </FluentCard>            
        </Body>
        <NavMenuContent>
            <FluentNavMenu>
                <NavMenu/>
            </FluentNavMenu>            
        </NavMenuContent>
    </FluentMainLayout>

    <FluentToastProvider />
    <FluentDialogProvider  @rendermode="@InteractiveServer"  />
    <FluentTooltipProvider />
   
</div>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code
{

}
